
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:48vw;
  height: 53vh;
  color: hsla(0, 0%, 100%, 0.75);
}

.sedans,
.SUVs,
.luxury {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 2.25em;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.SUVs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
img {
  transform: scale(0.8);
  display: flex;
  align-self: flex-start;
}

h1 {
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2em;
  margin: 0.75em 0em 0.25em;
}

.button h4 {
  font-weight: 700;
  color: inherit;
  text-align: center;
  margin: auto;
  font-family: 'Lexend Deca', sans-serif;
  font-size: .75em;
}

p {
  font-weight: 100;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  width: 12vw;
  font-size: 0.75em;
  line-height: 1.7em;
  opacity: 0.8;
  flex-shrink: 3;
}

.button {
  border: 2px solid hsl(0, 0%, 95%);
  background-color: hsl(0, 0%, 95%);
  border-radius: 25px;
  color: transparent;
  padding: 0.5em 1em;
}
.buttonholder {
  display: flex;
  flex-direction: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.button:hover {
  background-color: inherit;
}
.button h4:hover{
  color: hsl(0, 0%, 95%);
}
h4:hover {
  color: hsl(0, 0%, 95%);
}
.attribution {
  position: absolute;
  bottom: 2%;
  font-size: 11px;
  text-align: center;
  background-color: hsl(0, 0%, 95%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 376px) and(orientation: landscape) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    min-height: 100vh;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 98vw;
    height: fit-content;
  }
  .sedans,
  .SUVs,
  .luxury {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
    width: 98vw;
  }
  .sedans {
    order: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }

  .SUVs {
    order: 2;
  }

  .luxury {
    order: 3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
  }
  footer {
    visibility: hidden;
  }
  .button {
    border: 2px solid hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 95%);
    border-radius: 25px;
    align-self: flex-start;
    padding: 5px;
    margin-left: 2em;
    margin-bottom: 1em;
  }
  .button:hover {
    background-color: inherit;
    color: hsl(0, 0%, 95%);
  }
  h1 {
    margin-left: 2rem;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 3em;
  }
  p {
    font-weight: 100;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1em;
    line-height: 1.7em;
    width: 75%;
    margin-left: 2em;
    margin-bottom: 2em;
  }
  img {
    margin: 15% 17.5% 3% 2.5em;
    transform: scale(1.3);
  }
  .button h4 {
    font-weight: 700;
    color: inherit;
    text-align: center;
    align-self: flex-start;
    margin: auto;
    padding: 10px 12px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1em;
  }
}
